<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zml.activity.mapper.ActivityInfoMapper">

    <resultMap id="ActivityRuleMap" type="com.zml.ssyx.model.activity.ActivityRule"></resultMap>

    <select id="selectSkuIdListExits" resultType="Long">
        select sku.sku_id
        from `shequ-activity`.activity_info info
        inner join `shequ-activity`.activity_sku sku on info.id = sku.activity_id
        <where>
            <if test="skuIdList != null">
                and sku.sku_id in
                <foreach collection="skuIdList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        and now() between info.start_time and info.end_time
    </select>
    <select id="findActivityRule" resultType="com.zml.ssyx.model.activity.ActivityRule">
        select info.activity_type as activityType,
               rule.id,
               rule.activity_id,
               rule.condition_amount,
               rule.condition_num,
               rule.benefit_amount,
               rule.benefit_discount
        from `shequ-activity`.activity_info info
                 inner join `shequ-activity`.activity_sku sku on info.id = sku.activity_id
                 inner join `shequ-activity`.activity_rule rule on info.id = rule.activity_id
        where sku.sku_id = #{skuId}
          and now() between info.start_time and info.end_time
        order by rule.condition_amount desc;
    </select>
</mapper>