<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.RegionWareMapper">

    <resultMap id="BaseResultMap" type="generator.domain.RegionWare">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="region" column="region" jdbcType="VARCHAR"/>
            <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
            <result property="wareId" column="ware_id" jdbcType="BIGINT"/>
            <result property="wareName" column="ware_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,region,region_name,
        ware_id,ware_name,create_time,
        update_time,is_deleted
    </sql>
</mapper>
